@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --neonGreen: #00ff9d4f;
  --neonBlue: #00a8ff;
}

.text-neonGreen {
  color: var(--neonGreen);
}

.text-neonBlue {
  color: var(--neonBlue);
}

.border-neonGreen {
  border-color: var(--neonGreen);
}

.border-neonBlue {
  border-color: var(--neonBlue);
}

.bg-neonGreen {
  background-color: var(--neonGreen);
}

.bg-neonBlue {
  background-color: var(--neonBlue);
}

.glow {
  box-shadow: 0 0 15px rgba(0, 255, 157, 0.137);
}

@keyframes neon-top {
  0% { width: 0; opacity: 0; }
  50% { opacity: 1; }
  100% { width: 100%; opacity: 0; }
}

@keyframes neon-right {
  0% { height: 0; opacity: 0; }
  50% { opacity: 1; }
  100% { height: 100%; opacity: 0; }
}

@keyframes neon-bottom {
  0% { width: 0; opacity: 0; }
  50% { opacity: 1; }
  100% { width: 100%; opacity: 0; }
}

@keyframes neon-left {
  0% { height: 0; opacity: 0; }
  50% { opacity: 1; }
  100% { height: 100%; opacity: 0; }
}

.animate-neon-top {
  animation: neon-top 2s infinite;
}

.animate-neon-right {
  animation: neon-right 2s infinite 0.5s;
}

.animate-neon-bottom {
  animation: neon-bottom 2s infinite 1s;
}

.animate-neon-left {
  animation: neon-left 2s infinite 1.5s;
}

.backdrop-blur-sm {
  backdrop-filter: blur(4px);
}

.backdrop-blur-md {
  backdrop-filter: blur(8px);
}